.ipynb_checkpoints/
*.ipynb
!notebooks/*.ipynb
*.txt
__pycache__/
*.py[cod]
*.egg-info/
!validation/.gitkeep
validation/*/
data/*/
data/autogc.db
!data/.gitkeep
!data/autogc.sql
ezchrom/*/
!ezchrom/.gitkeep
docs/gc_files